<footer>
    
    <p>Copyright &copy; STUCIMS 2023</p>
</footer>
<!-- javascript files -->
<script>
    function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
<script src="/js/main.js"></script>
<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/bootstrap.bundle.js.map"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.js.map"></script>
<script src="/bootstrap-icons/bootstrap-icons.json"></script>


</body>
</html>