<!-- navbar -->
<header class="bg-success">
    <div class="nav-bar bg-success">
        <div class="brandname">
            <div class="logo">
                <a href="/"><img src="/IMAGES/navlogo2.png" alt=""></a>
            </div>
        </div>
        <div class="nav-bar-links">
            <ul>
                <li class="active-li active"><a href="/"><strong>Home</strong></a></li>
                <li class="active-li"><a href="/about"><strong> About</strong></a></li>
                <li class="active-li"><a href="/contact"><strong> Contacts</strong></a></li>
                <li class="active-li"><a href="/signup"><strong> Sign Up</strong></a></li>

            </ul>
        </div>
        <div class="toggler"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>

        </div>
    </div>

</header>
<!-- offcanvas  -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
<h5 id="offcanvasRightLabel">STUCIMS</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div class="nav-bar-offCanvas">
    <ul>
        <li class="active-offcanvas"><a href="/">Home</a></li>
        <li class="active-offcanvas"><a href="/about">About</a></li>
        <li class="active-offcanvas"><a href="/contact">Contacts</a></li>
        <li class="active-offcanvas"><a href="/signup">Sign Up</a></li>

    </ul>
</div>
</div>
</div>