<%- include('./partials/header.ejs')%>

<body>
    <%- include('./partials/nav.ejs')%>
    <div class="content">
        <div class="404">
            <img src="/IMAGES/SeekPng.com_mangal-ghat-png_2549937.png" alt="">
        </div>
    </div>
    <%- include('./partials/footer.ejs')%>