<%- include('./partials/header.ejs')%>

<body>
    <%- include('./partials/nav.ejs')%>

    <!-- css animations -->
  
    <!-- content -->
    <div class="content">

    
        <div class="containerr">
      

       
        <div class="about">
            <div class="database-image">
                <div class="desc-logo">
                    <img src="/IMAGES/descriptionlogo.png" alt="">
                </div>
                <div class="description">
                  <div class="features">
                    <h2>Features</h2>
                    <p class="hometxt" >
                        The Student Clearance App was developed using Node.js and Express for the backend, and HTML, CSS, and JavaScript for the frontend. It was designed to be responsive and mobile-friendly, with a clean and modern interface. This app allows students to easily access the necessary forms and information, and keeps track of their progress in meeting the clearance requirements.
                
                    The app can have a user-friendly interface that allows students to log in and view their clearance status.</p>
                    
                   </div>
                </div>
            </div>
        </div>
        <div class="myLogos">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/IMAGES/LOGO222.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/IMAGES/LOGO11.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/IMAGES/LOGO33.png" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
    </div>
    <%- include('./partials/footer.ejs')%>
